* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Krona One", sans-serif;
}

:root {
  --background: rgb(247, 247, 247);
  --primary: rgb(238, 238, 238);
  --secondary: rgb(57, 62, 70);
  --accent: rgb(146, 154, 171);
}
head title {
  font-family: "Krona One", sans-serif;
  font-weight: 800;
  color: rgb(0, 0, 0);
}
body {
  position: relative;
  background: var(--background);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem 6rem;
  height: 10vh;
}
header h1 {
  height: 100%;

  padding: 20px;
  color: var(--secondary);
  margin-right: 8rem;
  user-select: none;
}

.navbar {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact {
  width: 100%;
}

.contact span {
  float: right;
  width: 200px;
  padding: 1rem;
  border: 1px solid var(--secondary);
  border-radius: 1rem;
  color: var(--secondary);
  display: flex;
  justify-content: center;
}

header a {
  color: var(--secondary);
  text-decoration: none;
  width: 9rem;
}

main {
  height: auto;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
  background-color: var(--background);
  height: 90vh;
}

.landing h1 span {
  color: var(--accent);
}

.one {
  color: var(--secondary);
  font-size: 5rem;
  width: 40rem;
  animation-name: title;
  position: relative;
  animation-duration: 2s;
  opacity: 100%;
  padding-left: 4rem;
}

.paragraph {
  color: var(--secondary);
  font-size: 1.2rem;
  width: 45rem;
  font-weight: lighter;
  animation-name: paragraph;
  position: relative;
  animation-duration: 2s;
  opacity: 100%;
  line-height: 200%;
  position: relative;
  margin-top: 40px;
}

.line {
  width: 60px;
  border-top: 4px solid var(--secondary);
  height: 10px;
  position: relative;
  animation-name: line;
  animation-duration: 2s;
}

.Trusted {
  color: var(--accent);
  animation-name: Trusted;
  animation-duration: 2s;
  position: relative;
}
@keyframes title {
  from {
    left: -90rem;
    opacity: 0%;
  }
  to {
    left: 0rem;
    opacity: 100%;
  }
}

@keyframes paragraph {
  from {
    left: -80rem;
    opacity: 0%;
  }
  to {
    left: 0;
    opacity: 100%;
  }
}

@keyframes line {
  from {
    left: -80rem;
    opacity: 0%;
  }
  to {
    left: 0;
    opacity: 100%;
  }
}

@keyframes Trusted {
  from {
    left: -80rem;
    opacity: 0%;
  }
  to {
    left: 0;
    opacity: 100%;
  }
}
.about {
  background-color: var(--primary);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  gap: 14rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.build {
  height: auto;
  animation-name: build;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 50%;
  position: relative;
}
@keyframes build {
  from {
    left: -20rem;
    opacity: 0;
  }
  to {
    left: 0rem;
    opacity: 1;
  }
}

.two {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  width: 40rem;
  position: relative;
  animation-duration: 1.5s;
  opacity: 100%;
  margin-top: 40px;
}

.second {
  animation-name: none;
}

.skills {
  width: 37.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
  animation-name: skills;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 60%;
}
@keyframes skills {
  from {
    right: -20rem;
    opacity: 0;
  }

  to {
    right: 0rem;
    opacity: 1;
  }
}

.skill {
  display: flex;
  gap: 2rem;
}

.subtitle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtitle h2 {
  color: var(--accent);
}

.icon {
  font-size: 5rem;
}

.book {
  width: 100%;
  height: auto;
  background-color: var(--background);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
}

.book h1 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  animation-name: slide;
  position: relative;
  color: var(--accent);
  margin: 1rem;
  margin-left: 0;
}
.book div {
  width: 50%;
  height: 100%;
  padding: 2rem 4rem 2rem;
}
.book p {
  color: var(--secondary);
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.left {
  position: relative;
  animation-name: left;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}

@keyframes left {
  from {
    left: -20rem;
    opacity: 0;
  }

  to {
    left: 0rem;
    opacity: 1;
  }
}

.right {
  position: relative;
  animation-name: left;
  animation-timeline: view();
  animation-range-start: cover 0%;
  animation-range-end: cover 30%;
}
@keyframes right {
  from {
    left: -20rem;
    opacity: 0;
  }

  to {
    left: 0rem;
    opacity: 1;
  }
}
.get-started {
  padding: 5rem;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.get-started h1 {
  font-size: 3rem;
  color: var(--accent);
  padding-bottom: 1.5rem;
}
.get-started p {
  color: var(--secondary);
  line-height: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.submit{
  width: 200px;
  padding: 1rem;
  border: 1px solid var(--secondary);
  border-radius: 1rem;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.contact_us {
  padding: 2rem;
  position: relative;
  display: flex;
  gap: 2rem;
  background-color: var(--primary);
  height: 100vh;
  flex-direction: row;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
  
}
.contact div{
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   gap: .5rem;
   padding: 1rem;
}
textarea{
    width: 100%;
    padding: 1rem;
    height: 15rem;
    border: 1px solid var(--secondary);
    border-radius: 1rem;
    margin-bottom: 1rem;    
}
input{
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--secondary);
  border-radius: 1rem;
  margin-bottom: 1rem;
}


@media (max-width: 1000px) {
  body {
    height: auto;
  }
  .landing {
    flex-direction: column;
  }

  .about {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  header {
    padding: 2rem 1rem;
  }
  .comments {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5rem;
  }

  .skills {
    align-items: start;
  }
  .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .one {
    padding-left: 2rem;
  }

  .two {
    padding-left: 2rem;
    text-align: center;
  }

  .second {
    left: 50%;
  }

  .book {
    flex-direction: column;
    height: 15vh;
  }
}
